body {
    font-size: var(--vlp-font-size-base);
    font-family: var(--vlp-font-families-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--vlp-font-families-headlines);
    letter-spacing: var(--vlp-letter-spacing-headlines);
    line-height: var(--vlp-line-heights-headlines);
    font-weight: var(--vlp-font-weights-regular);
}

.navbar {
    padding-top: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    padding-bottom: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    padding-left: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    padding-right: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    height: 88px !important;
    transition: none !important;
}

.navbar__title {
    font-family: 'Syne', sans-serif;
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
}

.navbar__link {
    height: 40px;
    align-items: flex-end;
    padding: 0;
    /* margin-left: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    margin-right: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm)); */
}

.navbar__items:not(.navbar__items--right) {
    justify-content: center;
    gap: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-md));
}

.navbar__brand {
    position: absolute;
    left: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
}

.plugin-pages body {
    font-size: var(--vlp-font-size-base);
    line-height: var(--vlp-line-heights-body);
    font-weight: var(--vlp-font-weights-regular);
}

.navbar__toggle {
    position: absolute;
    right: 16px;
    margin: 0;
    padding: var(--vlp-spaces-md) !important;
}

.navbar__logo {
    height: 40px !important;
}

a.navbar__brand>.navbar__title:hover,
a.navbar__brand>.navbar__title:focus {
    color: var(--ifm-navbar-link-color) !important;
}

.navbar-sidebar {
    /* width: 100%; */
    transition: none;
}

.navbar-sidebar__item {
    width: 100%;
}

.navbar-sidebar__item.menu:last-child {
    display: none;
}

.navbar-sidebar__items--show-secondary .navbar-sidebar__item.menu:last-child {
    display: block;
}

.navbar-sidebar__items {
    transition: none;
}

.navbar-sidebar__brand {
    padding: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    height: 88px;
    box-shadow: none;
}

.navbar-sidebar__item {
    padding: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
}

.menu__link {
    line-height: var(--vlp-line-heights-body);
    /* padding: 0; */
    color: var(--ifm-color-menu-link);
}

.menu__list-item {
    margin-bottom: 1rem;
    margin-top: 0;
}

.navbar__toggle {
    right: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
}

.navbar__toggle,
.navbar-sidebar__close {
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px;
    color: var(--vlp-neutral-text);
    font-size: var(--font-size-base);
    font-weight: var(--font-weights-medium);
    background-color: var(--vlp-accent-bg);
    box-shadow: inset 0px 0px 0px 1px var(--vlp-neutral-border-strong);
    transition: box-shadow 0.16s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__toggle:hover,
.navbar-sidebar__close:hover,
.navbar__toggle:focus,
.navbar-sidebar__close:focus {
    border: none;
    box-shadow: inset 0px 0px 0px 2px var(--vlp-neutral-border-strong) !important;
    outline: 0;
}

.navbar__toggle:active,
.navbar-sidebar__close:active {
    border: none;
    box-shadow: inset 0px 0px 0px 0px var(--vlp-neutral-border-strong) !important;
    outline: 0;
}

.navbar__toggle>svg,
.navbar-sidebar__close>svg {
    width: 16px;
    height: 16px;
}

.navbar__toggle>svg>*,
.navbar-sidebar__close>svg>* {
    stroke-width: 2px;
    stroke: var(--vlp-neutral-text);
}

.navbar__toggle>svg>path {
    stroke-width: 3.2px;
}

.navbar-sidebar__close>svg>path {
    color: var(--vlp-neutral-text);
}

.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
    height: 40px !important;
    width: 40px !important;
    position: absolute;
    bottom: 40px;
    z-index: 1;
}

.navbar__items--right .toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
    right: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
    top: calc(var(--vlp-spaces-xxl) + var(--vlp-spaces-sm));
}

@media (min-width: 997px) {
    .navbar__toggle,
    .navbar-sidebar__close {
        display: none;
    }
    .navbar__item {
        display: flex;
    }
}

.theme-doc-sidebar-menu ul.menu__list .menu__list-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* btns */


/* .btn,
button {
    display: inline-block;
    height: 40px !important;
    padding: var(--vlp-spaces-md) var(--vlp-spaces-xxl) !important;
    text-decoration: none;
    white-space: nowrap;
    border-radius: var(--vlp-spaces-xxl) !important;
    border: none !important;
    cursor: pointer;
    box-sizing: border-box;
    transition: box-shadow 0.16s ease-in-out;
}

button>svg>path {
    fill: var(--vlp-neutral-bg-inversed) !important;
}

button>svg {
    height: 24px !important;
    width: 24px !important;
    color: var(--vlp-neutral-bg-inversed) !important;
}

.btn-icon {
    padding: var(--vlp-spaces-md);
}

.btn-accent,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    color: var(--vlp-neutral-text) !important;
    font-size: var(--font-size-base);
    font-weight: var(--font-weights-medium);
    background-color: var(--vlp-accent-bg) !important;
    box-shadow: inset 0px 0px 0px 1px var(--vlp-neutral-border-strong) !important;
}

.btn-accent:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn-accent:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border: none;
    box-shadow: inset 0px 0px 0px 2px var(--vlp-neutral-border-strong) !important;
    outline: 0;
}

.btn-accent:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    border: none;
    box-shadow: inset 0px 0px 0px 0px var(--vlp-neutral-border-strong) !important;
    outline: 0;
} */